body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
}
.logo {
  color: #2196f3;
}
.logo-black {
  color: black;
}
.main-hero {
  background: #2f303a;
}
.navigation-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-list-link:hover,
.navigation-list-link:hover {
  color: #2196f3;
}
.adress-mail-link:hover,
.adress-mail-link:focus {
  color: #2196f3;
}

.adress-phone-link {
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.02em;
  color: #757575;
}
.main-hero-modal-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
}
.main-hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer {
  background: #2f303a;
}
.footer-map {
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-mail {
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-phone {
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-logo-white {
  color: #ffffff;
}
